@page
@model PaperCalc.Pages.Login.IndexModel
@{
    Layout = null;
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,1000&family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/buttons/bootstrap.min.css" />

<style>
    body {
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        font-family: 'Nunito', sans-serif;
        font-family: 'Roboto', sans-serif;
    }

    img {
        width: 170px;
    }

    input {
        width: 100px;
    }

    div {
        margin: 40vh auto 5px auto;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 5px auto;
    }
    label, input, button {
        margin: 5px auto;
    }
    input {
        width: auto;
        color: black;
    }
</style>

<div><img src="/Images/Logo.PNG" /></div>
<form method="post">
    <label>Username:</label>
    <input asp-for="User.UserName" type="text" placeholder="username" required>
    <label>Password:</label>
    <input asp-for="User.Password" type="password" placeholder="password" required>

    <button class="btn btn-success" type="submit">Login</button>
</form>


