@page
@model PaperCalc.Pages.Stock.BindingCovers.NewFolder.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="stockTitle">Edit</h1>

<div class="stockEditPage">

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="BindingCoilsStock.Id" type="hidden" />

        <div class="editRowTitle">
            <h3>details</h3>
        </div>
        <div class="editFormRow borderBottom">
            <div class="form-group">
                <label asp-for="BindingCoilsStock.BindingCoilType" class="control-label">coil type<span class="requiredStar">*</span></label>
                <select asp-for="BindingCoilsStock.BindingCoilType" class="form-control">
                    <option value="None">None</option>
                    <option value="Plastic">Plastic</option>
                    <option value="Wire">Wire</option>
                </select>
                <span asp-validation-for="BindingCoilsStock.BindingCoilType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BindingCoilsStock.RingsRatio" class="control-label">rings ratio<span class="requiredStar">*</span></label>
                <input asp-for="BindingCoilsStock.RingsRatio" class="form-control" />
                <span asp-validation-for="BindingCoilsStock.RingsRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BindingCoilsStock.SheetsHeld" class="control-label">sheets held<span class="requiredStar">*</span></label>
                <input asp-for="BindingCoilsStock.SheetsHeld" class="form-control" />
                <span asp-validation-for="BindingCoilsStock.SheetsHeld" class="text-danger"></span>
            </div>
        </div>

        <div class="editRowTitle">
            <h3>specifications</h3>
        </div>
        <div class="editFormRow borderBottom">
            <div class="form-group">
                <label asp-for="BindingCoilsStock.CoilSize" class="control-label">coil size<span class="requiredStar">*</span></label>
                <input asp-for="BindingCoilsStock.CoilSize" class="form-control" />
                <span asp-validation-for="BindingCoilsStock.CoilSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BindingCoilsStock.CoilsPerPack" class="control-label">coils per pack<span class="requiredStar">*</span></label>
                <input asp-for="BindingCoilsStock.CoilsPerPack" class="form-control" />
                <span asp-validation-for="BindingCoilsStock.CoilsPerPack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BindingCoilsStock.PricePerPack" class="control-label">price per pack<span class="requiredStar">*</span></label>
                <input asp-for="BindingCoilsStock.PricePerPack" class="form-control" />
                <span asp-validation-for="BindingCoilsStock.PricePerPack" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

        <div>
            <a class="btn btn-primary" asp-page="../Index">back to stock</a>
        </div>

    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
