@page
@model PaperCalc.Pages.DocumentsStock.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="stockTitle">Create</h1>

<div class="stockEditPage">

    <form class="editStockForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="DocumentsStock.Id" />

        <div class="editRowTitle">
            <h3>product</h3>
        </div>
        <div class="editFormRow borderBottom">
            <div class="form-group">
                <label class="control-label">supplier<span class="requiredStar">*</span></label>
                <input asp-for="DocumentsStock.Supplier" class="form-control" />
                <span asp-validation-for="DocumentsStock.Supplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">stock brand<span class="requiredStar">*</span></label>
                <input asp-for="DocumentsStock.StockBrand" class="form-control" />
                <span asp-validation-for="DocumentsStock.StockBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsStock.StockType" class="control-label">coating<span class="requiredStar">*</span></label>
                <select asp-for="DocumentsStock.StockType" class="form-control custom-select">
                    <option value="">Select a Coating Type...</option>
                    <option value="Adhesive">Adhesive</option>
                    <option value="Synthetic">Synthetic</option>
                    <option value="Paper">Paper</option>
                    <option value="Card">Card</option>
                    <option value="CardTextured">Card Textured</option>
                    <option value="CardRecycled">Card Recycled</option>
                    <option value="Leather">Leather</option>
                    <option value="Acetate">Acetate</option>
                </select>
                <span asp-validation-for="DocumentsStock.StockType" class="text-danger"></span>
            </div>
        </div>

        <div class="editRowTitle">
            <h3>specifications</h3>
        </div>
        <div class="editFormRow borderBottom">
            <div class="form-group">
                <label asp-for="DocumentsStock.Size" class="control-label">size<span class="requiredStar">*</span></label>
                <select asp-for="DocumentsStock.Size" class="form-control custom-select">
                    <option value="">Select a Size...</option>
                    <option value="A4">A4</option>
                    <option value="A3">A3</option>
                    <option value="A2">A2</option>
                    <option value="A1">A1</option>
                    <option value="A0">A0</option>
                    <option value="SRA4">SRA4</option>
                    <option value="SRA3">SRA3</option>
                    <option value="SRA2">SRA2</option>
                    <option value="SRA1">SRA1</option>
                </select>
                <span asp-validation-for="DocumentsStock.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsStock.Weight" class="control-label">weight(gsm)<span class="requiredStar">*</span></label>
                <input asp-for="DocumentsStock.Weight" class="form-control" />
                <span asp-validation-for="DocumentsStock.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsStock.CoatType" class="control-label">coating<span class="requiredStar">*</span></label>
                <select asp-for="DocumentsStock.CoatType" class="form-control custom-select">
                    <option value="">Select a Coating Type...</option>
                    <option value="Adhesive">Adhesive</option>
                    <option value="Coated">Coated</option>
                    <option value="Uncoated">Uncoated</option>
                    <option value="Synthetic">Synthetic</option>
                    <option value="Matt">Matt</option>
                    <option value="Satin">Satin</option>
                    <option value="Gloss">Gloss</option>
                </select>
                <span asp-validation-for="DocumentsStock.CoatType" class="text-danger"></span>
            </div>
        </div>

        <div class="editRowTitle">
            <h3>quantity & cost</h3>
        </div>
        <div class="editFormRow">
            <div class="form-group">
                <label asp-for="DocumentsStock.PricePer1000" class="control-label">price per 1000 sheets<span class="requiredStar">*</span></label>
                <input asp-for="DocumentsStock.PricePer1000" class="form-control" />
                <span asp-validation-for="DocumentsStock.PricePer1000" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsStock.SheetsPerPack" class="control-label">sheets per pack<span class="requiredStar">*</span></label>
                <input asp-for="DocumentsStock.SheetsPerPack" class="form-control" />
                <span asp-validation-for="DocumentsStock.SheetsPerPack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocumentsStock.HeightOf100Sheets" class="control-label">height of 100 sheets(mm)<span class="requiredStar">*</span></label>
                <input asp-for="DocumentsStock.HeightOf100Sheets" class="form-control" />
                <span asp-validation-for="DocumentsStock.HeightOf100Sheets" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="save" class="btn btn-success" />
        </div>
        <div>
            <a class="btn btn-primary" asp-page="./Index">back to list</a>
        </div>

    </form>


</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
