@page
@model PaperCalc.Pages.EpsonStock.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="stockTitle">Create</h1>

<div class="stockEditPage">

    <form class="editStockForm" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EpsonStock.Id" />

        <div class="editRowTitle">
            <h3>product</h3>
        </div>
        <div class="editFormRow borderBottom">
            <div class="form-group">
                <label class="control-label">company<span class="requiredStar">*</span></label>
                <input asp-for="EpsonStock.Company" class="form-control" />
                <span asp-validation-for="EpsonStock.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">product name<span class="requiredStar">*</span></label>
                <input asp-for="EpsonStock.ProductName" class="form-control" />
                <span asp-validation-for="EpsonStock.ProductName" class="text-danger"></span>
            </div>
            <div>
            </div>
        </div>

        <div class="editRowTitle">
            <h3>specifications</h3>
        </div>
        <div class="editFormRow borderBottom">
            <div class="form-group">
                <label asp-for="EpsonStock.Width" class="control-label">width<span class="requiredStar">*</span></label>
                <input asp-for="EpsonStock.Width" class="form-control" />
                <span asp-validation-for="EpsonStock.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpsonStock.Weight" class="control-label">weight(gsm)<span class="requiredStar">*</span></label>
                <input asp-for="EpsonStock.Weight" class="form-control" />
                <span asp-validation-for="EpsonStock.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpsonStock.CoatType" class="control-label">coating<span class="requiredStar">*</span></label>
                <select asp-for="EpsonStock.CoatType" class="form-control custom-select">
                    <option value="">Select a Coating Type...</option>
                    <option value="Adhesive">Adhesive</option>
                    <option value="Coated">Coated</option>
                    <option value="Uncoated">Uncoated</option>
                    <option value="Synthetic">Synthetic</option>
                    <option value="Matt">Matt</option>
                    <option value="Satin">Satin</option>
                    <option value="Gloss">Gloss</option>
                </select>
                <span asp-validation-for="EpsonStock.CoatType" class="text-danger"></span>
            </div>
        </div>

        <div class="editRowTitle">
            <h3>quantity & cost</h3>
        </div>
        <div class="editFormRow">
            <div class="form-group">
                <label asp-for="EpsonStock.RollCost" class="control-label"></label>
                <input asp-for="EpsonStock.RollCost" class="form-control" />
                <span asp-validation-for="EpsonStock.RollCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EpsonStock.RollsLength" class="control-label"></label>
                <input asp-for="EpsonStock.RollsLength" class="form-control" />
                <span asp-validation-for="EpsonStock.RollsLength" class="text-danger"></span>
            </div>
            <div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="save" class="btn btn-success" />
        </div>
        <div>
            <a class="btn btn-primary" asp-page="./Index">back to list</a>
        </div>

    </form>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
