@page
@model PaperCalc.Pages.Variable.Clicks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Clicks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Clicks.Id" />
            <div class="form-group">
                <label asp-for="Clicks.Name" class="control-label"></label>
                <input asp-for="Clicks.Name" class="form-control" />
                <span asp-validation-for="Clicks.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clicks.Cost" class="control-label"></label>
                <input asp-for="Clicks.Cost" class="form-control" />
                <span asp-validation-for="Clicks.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clicks.ColourId" class="control-label"></label>
                <input asp-for="Clicks.ColourId" class="form-control" />
                <span asp-validation-for="Clicks.ColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clicks.SizeId" class="control-label"></label>
                <input asp-for="Clicks.SizeId" class="form-control" />
                <span asp-validation-for="Clicks.SizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
