html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.RedText {
    color: red;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
footer {
    position: relative !important;
}
.hidden {
  display: none !important;
}
.btn-group {
    width: 350px !important;
}
a {
    color: rgb(0, 0, 255) !important;
}
.btn {
    color: white !important;
}
.nav-link, .navbar-brand {
    color: black !important;
}
td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
.multiselect-container {
    height: 400px !important;
    overflow-y: scroll !important;
}
.customDivTable {
    width: 100%;
    margin: 25px 0;
}
.customDivTableHead {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 2px solid rgb(128, 128, 128);
}
.customDivTableHead div {
    width: 20%;
}
.customDivTableHead div h5 {
    text-align: left;
    width: 90%;
    padding-left: 10%;
    overflow-wrap: break-word;
}
.customDivTableBody{
    max-height: 400px;
    overflow-y: auto;
}
.customDivTableBody form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    border-bottom: 1px solid rgb(128, 128, 128);
}
.customDivTableBody form div {
    text-align: center;
    width: 20%;
}
.customDivTableBody form div input {
    width: 80%;
}
.tbButton {
    width: 50% !important;
}

#calculationPost {
    width: 100%;
    display: flex;
    justify-content: center;
}
#calculationPost > * {
    margin: 10px;
}
#calculationPost div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#calculationPost div button {
    margin: 5px;
}
#calculationTotals {
    border: 1px solid grey;
}
#calculationTotals dt{
   margin: 0 5px;
}
#calculationTotals dd {
   margin: 0 5px;
}

#CalculationValues {
    width: 100%;
    overflow-x: auto;
    margin-top: 15px;   
    border-top: 1px solid grey;
}
#CalculationValues table {
    width: 1110px;
}
#CalculationValues table tr {
    

}


#aspeosCalculator {
    padding: 15px 0;
    border-bottom: 1px solid grey;
}
@media only screen and (max-width: 1200px) {
    #CalculationValues {
        overflow: scroll;
    }
}

#AspeosForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AspeosFormRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 0;
}
.settingsInputLabel {
    width: 150px !important;
}
.inputGroupCustomCheckbox {
    border: 1px solid #ced4da;
    padding: 8px;
    background-color: #E9ECEF;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}
#AspeosCalculation_Quantity, #Settings_FilehandlingCost, #Settings_MarginMultiplier {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.calcSubmit {
    width: 150px;
    margin: 5px auto;
}
@media only screen and (max-width: 992px) {
    .input-group-text {
        width: auto;
    }
    .AspeosFormRow {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 767px) {
    #Checkboxes {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    #Checkboxes > .input-group {
        width:auto;
        margin: 5px auto;
    }
}
.aspeosInput {
    width: 300px !important;
}

.settingsBasicInput {
    width: 300px !important;
    margin: 5px auto;
}
.settingsSmallUrgentInput {
    width: 6    00px !important;
    margin: 5px auto;
}
.settings3ValuesInput {
    width: 600px !important;
    margin: 5px auto;   
}
.settingsSubmit {
    width: 59px;
    margin: 5px auto;
}
.inputCurve {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
.noInputCurve {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}