<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <FilehandlingCost>25</FilehandlingCost>
  <MarginMultiplier>
    <SmallOrUrgent>2</SmallOrUrgent>
    <Standard>1.4</Standard>
  </MarginMultiplier>
  <Buffer>
    <SmallOrUrgent>1.5</SmallOrUrgent>
    <Standard>1.1</Standard>
  </Buffer>
  <SmallOrUrgentMinimum>15</SmallOrUrgentMinimum>
  <Creasing>
    <CreasingOneMultiplier>0.1</CreasingOneMultiplier>
    <CreasingTwoMultiplier>0.15</CreasingTwoMultiplier>
    <CreasingThreeMultiplier>0.2</CreasingThreeMultiplier>
  </Creasing>
  <Folding>
    <FoldingOneMultiplier>0.1</FoldingOneMultiplier>
    <FoldingTwoMultiplier>0.15</FoldingTwoMultiplier>
    <FoldingThreeMultiplier>0.2</FoldingThreeMultiplier>
  </Folding>
</Settings>