<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <MinimumJobCost>15</MinimumJobCost>
  <KindsMultiplier>0.8</KindsMultiplier>
  <Gst>1.15</Gst>
  <ClickRates>
    <A4Black>0.0112</A4Black>
    <A4Colour>0.0784</A4Colour>
  </ClickRates>
  <WideFormat>
    <ink>
      <CostPerYear>2000</CostPerYear>
      <A0PerYear>750</A0PerYear>
      <PercentageForBW>0.85</PercentageForBW>
    </ink>
    <Buffer>
      <Decider>2</Decider>
      <Low>1.5</Low>
      <High>2</High>
    </Buffer>
  </WideFormat>
  <Sra3>
    <Buffer>
      <Decider>10</Decider>
      <Low>1.1</Low>
      <High>1.5</High>
    </Buffer>
  </Sra3>
  <Document>
    <Buffer>
      <Decider>50</Decider>
      <Low>1.1</Low>
      <High>2</High>
    </Buffer>
  </Document>
  <Booklet>
    <Buffer>
      <Decider>32</Decider>
      <Low>1.5</Low>
      <High>2</High>
    </Buffer>
  </Booklet>
  <Labour>
    <HourlyRate>45</HourlyRate>
    <ActionsPerHour>
      <ManualCuts>300</ManualCuts>
      <GuillotineCuts>100</GuillotineCuts>
      <ManualDrills>50</ManualDrills>
      <Creases>300</Creases>
      <Folds>350</Folds>
      <BindingPunch>150</BindingPunch>
      <DoubleSidedTapeM>150</DoubleSidedTapeM>
    </ActionsPerHour>
  </Labour>
</Settings>